*{
        margin: 0;
        padding:0;
        box-sizing: border-box;
        text-decoration: none;
}

body{
    font-family:sans-serif;
}

img[alt="sanbercode"] {
    margin-bottom: 20px;
}

.card{
    padding: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 30%;
    margin: 0 auto;
}

.card .title{
    border-bottom: 3px solid #bbbb;
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;   
}

.checkbox-container{
    margin: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #bbbb;
}

input[type=checkbox] {
    transform: scale(1.5);
}

.checkbox-container p{
    margin: 15px;
}

.card h1{
    color: #bbbb;
}

.button{
    width: 100%;
    color: white;
    background-color: #3db2ff;
    padding: 10px;
    border: none;
}

.button:hover{cursor:pointer;}
.button:active {
    background: red;
    cursor: pointer;
}

.tugas10{
    margin: 20px auto;
    width: 25%;
}

.navbar-light{
    background-color: gray;
}
.navbar-dark{
    background-color: #292929;
}

header nav{
    width: 100%;
    border-bottom: 2px solid #bbbb;
}

header nav li{
    display: inline-flex;
    padding: 15px;
}

header nav li p {
    color: white;
}

li:hover {
    background-color: #bbbb;
}

.btn-create{
    background-color: #bbbb;
    margin: 10px auto;
    padding: 8px;
    border-radius:0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
}
.btn-create:hover{
    background-color: #c9c9c9;
    cursor: pointer;
}
.btn-create:active{
    background-color: gray;
    cursor: pointer;
}

.btn-theme{
    color: #bae1ff;
    text-decoration: underline;
    
}
.btn-theme:hover{
    cursor: pointer;
}
.btn-theme:active{
    cursor: pointer;
}

.btn-back{
    margin: 10px auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    border: none;
    background: none;
}
.btn-back:hover{
    color: gray;
    cursor: pointer;
}
.btn-back:active{
    color: gray;
    cursor: pointer;
}

.edit-btn{
    background-color: yellow;
    padding: 5px 10px 5px 10px;
    border: 1px solid #c9c9c9;
    margin-right: 10px;
}

.delete-btn{
    background-color: red;
    padding: 5px 10px 5px 10px;
    border: 1px solid #c9c9c9;
    margin-right: 10px;
}

.table-mhs{
    width: 55%;
    margin: 0 auto;
}