body{
    font-family:sans-serif;
}

img[alt="sanbercode"] {
    margin-bottom: 20px;
}

.card{
    padding: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 30%;
    margin: 0 auto;
}

.card .title{
    border-bottom: 3px solid #bbbb;
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 0em;
    
    
}

.checkbox-container{
    margin: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #bbbb;
}

input[type=checkbox] {
    transform: scale(1.5);
}

.checkbox-container p{
    margin: 15px;
}

.card h1{
    color: #bbbb;
}

button{
    width: 100%;
    color: white;
    background-color: #3db2ff;
    padding: 10px;
    border: none;
}

button:hover{cursor:pointer;}
button:active {
    background: red;
    cursor: pointer;
}

.tugas10{
    margin: auto;
    width: 30%;
    line-height: 1em;
}