*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}

header{
    top: 0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    position: fixed;
}

header nav li{
    display: inline-flex;
    margin: 15px;
    color: black;
}

section{
    width: 70%;
    margin:90px auto;
    background: white;
    padding: 20px;
}

section h1{
    text-align: center;
    /* padding-bottom: 50px; */
    margin: 20px 0 70px 0;
}


#article-list div p{
    border-bottom: 1px solid gray;
    margin: 10px 0 40px 0;
    padding-bottom: 20px;
}

footer{
    bottom: 0;
    width: 100%;
    background-color: black;
    position: fixed;
    text-align: center;
    padding: 20px;
    color: white;
}

/* about and contact */

/* about */

.border-about{
    padding: 30px 0 30px 40px;
    margin: 10px;
    border: 1px solid gray;
}

button{
    margin: 10px 0 0 5px;
    padding: 3px;
}

body div h1{
    text-align: center;
    margin-bottom: 20px;
}

/* contact */

.border-contact{
    margin: 10px;
    border: 1px solid gray;
    padding:10px;
}

.margin-contact{
    margin-top: 20px;
}

div h1{
    margin:20px;
}

label{
    display: inline-block;
    width: 150px;
}

textarea{
    
    width: 400px;
    height: 100px;
}