*{
    margin: 0px;
    padding: 0px;
    border-style: none;
}

.styled-table {
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
}

.styled-table thead tr {
    background-color: #dcdef9;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 10px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}


.list h1{
    margin: 20px;
    text-align: center;
}

.btn-edit{
    background-color: #b3b3b3;
    color:black;
}
.btn-edit:active {
    background: gray;
    cursor: pointer;
}

.btn-delete{
    background-color: red;
}
.btn-delete:active {
    background: #b50000;
    cursor: pointer;
}

input[type=text], select {
    width: 100%;
    padding: 10px 15px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
input[type=submit] {
    width: 100%;
    background-color: #3db2ff;
    color: white;
    padding: 10px 15px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  } 
input[type=submit]:active {
    background-color: #45a049;
  }
  
.form-input {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 35%;
    margin: 0 auto;
  }