*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  text-decoration: none;
}

.logo{
  width: 10%;
  margin-right: 20px;
}
nav{
  z-index: 100;
  top: 0;
  border-bottom: 1px solid #bbbb;
  display:flex;
  align-items: center;
  width: 100%;
  background-color: white;
  position: fixed;
}

nav li{
  display: inline-flex;
  padding: 15px;
}

nav li p {
    color: black;
}

.t{
  top: 0;
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  position: fixed;
}