body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  text-align: center;
  float: left;
  width: 120px;
  margin: 0 auto;
  margin-right: 15px;
  color: #d63838;
  cursor: pointer;
  font-size: 15px;
}

.logo span{
  color: #3bbaff;
  
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}

.movie-container{
  display: flex;
  flex-wrap : wrap;
  align-items: baseline;
  flex-direction: row;
  gap: 50px;
  margin-bottom: 50px;
}

.game-container{
  display: flex;
  flex-wrap : wrap;
  align-items: baseline;
  flex-direction: row;
  gap: 50px;
  margin-bottom: 50px;
}

input[type=text], select {
  width: 100%;
  padding: 10px 15px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password], select {
  width: 100%;
  padding: 10px 15px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #3db2ff;
  color: white;
  padding: 5px 10px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
} 
input[type=submit]:active {
  background-color: #45a049;
}

.form-input {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 35%;
  margin: 0 auto;
}

.form-filter {
  border-radius: 5px;
  width: 80%;
  display: flex;
}

.form-filter input[type=text], select {
  margin: 10px;
  padding-left: 5px;
}

.form-search {
  border-radius: 5px;
  width: 45%;
  display: flex;
}

.form-search input[type=text], select {
  margin: 10px;
  padding-left: 5px;
}

.form-add {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 45%;
  margin: 0 auto;
}