body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  text-align: center;
  float: left;
  width: 120px;
  margin: 0 auto;
  margin-right: 15px;
  color: #d63838;
  cursor: pointer;
  font-size: 15px;
}

.logo span{
  color: #3bbaff;
  
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}

.movie-container{
  display: flex;
  flex-wrap : wrap;
  align-items: baseline;
  flex-direction: row;
  gap: 50px;
  margin-bottom: 50px;
}

.game-container{
  display: flex;
  flex-wrap : wrap;
  align-items: baseline;
  flex-direction: row;
  gap: 50px;
  margin-bottom: 50px;
}