
.about{
    background-color: #f2f2f2;
    margin: 100px auto;
    width: 90%;
    padding: 40px;
    border-radius: 10px;
}

.btn-back{
    background-color: #f2f2f2;
    color: black;
    cursor: pointer;
}